:root{
    --yellow: #FFCE50;
    --white: #fff;
    --dark: #363738; 
    --green: #0B7572;
    --gray: #0B7572;
    --gray2: #e9e9ec;
    --gray3: #6B6B6C;
    --gray4: #d7d7d7;
    --gray5: #F9F9FB;
    --gray6: #E9EAF2;
    --orange: #FF9619;
}