@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
   --exo2: 'Exo 2';
   --ptSans: 'PT Sans';
   --groteks: "Familjen Grotesk";
   --open-sans: "Open Sans";
}