@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
:root {
  --exo2: "Exo 2";
  --ptSans: "PT Sans";
  --groteks: "Familjen Grotesk";
  --open-sans: "Open Sans";
}

:root {
  --yellow: #FFCE50;
  --white: #fff;
  --dark: #363738;
  --green: #0B7572;
  --gray: #0B7572;
  --gray2: #e9e9ec;
  --gray3: #6B6B6C;
  --gray4: #d7d7d7;
  --gray5: #F9F9FB;
  --gray6: #E9EAF2;
  --orange: #FF9619;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

p {
  color: var(--gray3);
  font-family: var(--ptSans), sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--dark);
  font-family: var(--exo2);
}

.bg-img-padding {
  padding: 14px 20px;
  border-radius: 50%;
  width: -moz-fit-content;
  width: fit-content;
  background-color: var(--gray2);
}

.section-padding {
  padding: 0 100px;
}
@media (max-width: 768px) {
  .section-padding {
    padding: 0 30px;
  }
}

.heading {
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 65px;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

#hero {
  margin-top: 109px;
}
#hero .hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#hero .hero-wrapper .hero-texts h1 {
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 52px;
  line-height: 65px;
}
#hero .hero-wrapper .hero-texts p {
  margin: 40px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  max-width: 525px;
}
#hero .hero-wrapper .hero-texts a {
  font-family: var(--ptSans), sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 24px;
  color: var(--dark);
  position: relative;
  text-decoration: none;
}
#hero .hero-wrapper .hero-texts a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  background-color: var(--yellow);
  display: block;
}
#hero .hero-bottom {
  margin-top: 67px;
  display: grid;
  padding: 40px 80px;
  border-radius: 20px;
  grid-template-columns: auto auto auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#hero .hero-bottom .center-item {
  border-left: 1px solid var(--gray4);
  border-right: 1px solid var(--gray4);
  padding-left: 64px;
  padding-right: 121px;
}
#hero .hero-bottom .bottom-item {
  display: flex;
  flex-direction: column;
  max-width: 228px;
}
#hero .hero-bottom .bottom-item h3 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
#hero .hero-bottom .bottom-item .img-wrapper {
  background-color: var(--gray2);
  width: -moz-fit-content;
  width: fit-content;
  padding: 23px;
  border-radius: 50%;
}

#about {
  margin-top: 69px;
}
#about .about-wrapper {
  position: relative;
}
#about .about-wrapper .img1 {
  position: absolute;
  right: 0;
}
#about .about-wrapper .about-bottom {
  padding-top: 500px;
  display: grid;
  margin: 0 66px;
  gap: 40px;
  grid-template-columns: auto auto;
}
#about .about-wrapper .about-item {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
#about .about-wrapper .about-item .items {
  display: flex;
  gap: 40px;
  align-items: center;
}
#about .about-wrapper .about-item .items .about-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
#about .about-wrapper .about-item .items .about-text h3 {
  font-size: 20px;
  font-family: var(--exo2), sans-serif;
}
#about .about-wrapper .about-item .items .about-text p {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
#about .overlay {
  position: absolute;
  top: 0;
}
#about .overlay h1 {
  position: absolute;
  top: 40%;
  left: 15%;
  font-family: var(--exo2), sans-serif;
  color: #fff;
  font-weight: 600;
  font-size: 48px;
}

#work {
  margin-top: 120px;
}
#work .work-wrapper > p {
  max-width: 667px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  margin: 32px 0 56px 0;
}
#work .work-wrapper h1 {
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 60px;
}
#work .work-wrapper .imgs-wrapper {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: space-between;
}
#work .work-wrapper .imgs-wrapper .img-section {
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.12);
  overflow: hidden;
  border-radius: 10px;
}
#work .work-wrapper .imgs-wrapper .img-section img {
  width: 100%;
}
#work .work-wrapper .imgs-wrapper .img-section .work-text {
  padding: 24px 32px;
}
#work .work-wrapper .imgs-wrapper .img-section .work-text h2 {
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}
#work .work-wrapper .imgs-wrapper .img-section .work-text p {
  margin-top: 16px;
  margin-bottom: 32px;
}
#work .work-wrapper .imgs-wrapper .img-section .work-text strong {
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 16px;
  position: relative;
  line-height: 21.6px;
}
#work .work-wrapper .imgs-wrapper .img-section .work-text strong::after {
  content: "";
  width: 100%;
  position: absolute;
  height: 3px;
  background-color: var(--yellow);
  display: block;
  bottom: -10px;
}

#postavki {
  margin-top: 120px;
}
#postavki .postavki-wrapper > h1 {
  margin-bottom: 48px;
  font-family: var(--exo2), sans-serif;
  font-weight: 600;
  font-size: 48px;
}
#postavki .postavki-wrapper .project-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 50px;
  margin: o auto;
  gap: 24px;
}
#postavki .postavki-wrapper .project-wrapper .project-item {
  padding: 32px 96px;
  display: flex;
  gap: 56px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1215686275);
}
#postavki .postavki-wrapper .project-wrapper .project-item .project-texts {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
#postavki .postavki-wrapper .project-wrapper .project-item .project-texts h1 {
  font-weight: 600;
  font-size: 20px;
}
#postavki .postavki-wrapper .project-wrapper .project-item .project-texts span {
  width: 86px;
  height: 3px;
  background-color: var(--yellow);
}
#postavki .postavki-wrapper .project-wrapper .project-item .project-texts p {
  font-weight: 400;
  font-size: 16px;
}

#believe-us {
  margin-top: 123px;
  margin-bottom: 130px;
}
#believe-us .container h1 {
  margin-bottom: 100px;
}
#believe-us .logos-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#believe-us .logos-wrapper .logo {
  text-align: center;
  border-left: 1px solid var(--gray2);
  padding: 0 73px;
}
#believe-us .logos-wrapper .logo h3 {
  font-weight: 600;
  font-size: 20px;
  margin-top: 32px;
  margin-bottom: 14px;
}
#believe-us .logos-wrapper .logo p {
  font-size: 14px;
}

#company {
  margin-bottom: 130px;
}
#company > h1 {
  margin-bottom: 72px;
}
#company .company-wrapper {
  display: grid;
  grid-template-columns: auto auto;
  gap: 30px;
}
#company .company-item {
  border-radius: 10px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  align-items: center;
  overflow: hidden;
}
#company .company-item > img {
  padding: 32px;
}
#company .company-item .company-text h2 {
  font-weight: 600;
  font-size: 20px;
}
#company .company-item .company-text p {
  font-size: 14px;
  font-weight: 400;
  margin: 5px 0;
}
#company .company-item .company-text span {
  width: 86px;
  height: 3px;
  background-color: var(--yellow);
  display: block;
}
#company .company-item .company-text .social-links {
  margin-top: 32px;
}
#company .company-item .company-text .social-links a {
  margin-right: 20px;
  text-decoration: none;
}
#company .company-item .company-text .social-links a img {
  width: -moz-fit-content;
  width: fit-content;
}
#company .company-item::before {
  content: "";
  height: 100%;
  width: 51px;
  display: inline-block;
  background-color: var(--green);
}

#contact {
  display: flex;
  flex-direction: column;
  gap: 46px;
  margin-bottom: 168px;
}
#contact .container h1 {
  margin-bottom: 96px;
}
#contact .container > img {
  margin-top: 46px;
}
#contact .contact-container {
  display: flex;
}
#contact .contact-container .contact-info {
  background: var(--gray5);
  padding: 40px 48px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 32px;
}
#contact .contact-container .contact-info .info-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray6);
  padding-bottom: 16px;
}
#contact .contact-container .contact-info .info-item P {
  font-size: 16px;
  font-weight: 400;
}
#contact .contact-container .contact-info .info-item h4 {
  font-size: 16px;
  max-width: 443px;
}
#contact .contact-items {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}
#contact .contact-items .contact-item {
  display: flex;
  width: -moz-fit-content;
  width: fit-content;
  gap: 30px;
}
#contact .contact-items .contact-item p {
  font-size: 14px;
}
#contact .contact-items .contact-item h3 {
  font-size: 20px;
  font-weight: 600;
}

#footer {
  background-color: var(--green);
}
#footer .footer-wrapper > p {
  padding-bottom: 29px;
}
#footer .footer-wrapper .footer-top {
  display: flex;
  justify-content: space-between;
  padding-top: 59px;
  padding-bottom: 80px;
}
#footer .footer-wrapper .footer-top h1 a {
  color: #fff;
  text-transform: uppercase;
  font-family: var(--groteks), sans-serif;
  font-size: 60px;
  font-weight: 500;
  letter-spacing: 16px;
}
#footer .footer-wrapper .footer-top .link-wrapper {
  display: flex;
  gap: 90px;
}
#footer .footer-wrapper .footer-top .link-wrapper .links {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#footer .footer-wrapper .footer-top .link-wrapper .links a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 13px;
  font-family: var(--exo2), sans-serif;
}
#footer .footer-wrapper p {
  text-align: center;
  color: white;
}
#footer .icons-butoon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#footer .icons-butoon .icons {
  display: flex;
  gap: 15px;
}
#footer .icons-butoon button {
  background-color: var(--orange);
  border: none;
  color: #fff;
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 15px;
  font-family: var(--open-sans), sans-serif;
  text-transform: uppercase;
}/*# sourceMappingURL=styles.css.map */