#company{
    margin-bottom: 130px;

    & > h1{
        margin-bottom: 72px;
    }

    & .company-wrapper{
        display: grid;
        grid-template-columns: auto auto;
        gap: 30px;
    }

    & .company-item{
        border-radius: 10px;
        box-shadow: 0px 4px 15px 0px #00000026;
        display: flex;
        align-items: center;
        overflow: hidden;

        & > img{
            padding: 32px; 
        }

        & .company-text{
            & h2{
                font-weight: 600;
                font-size: 20px;
            }

            & p{
                font-size: 14px;
                font-weight: 400;
                margin: 5px 0;
            }

            & span{
                width: 86px;
                height: 3px;
                background-color: var(--yellow);
                display: block;
            }

            & .social-links{
                margin-top: 32px;
                & a{
                    margin-right: 20px;
                    text-decoration: none;

                    & img{
                        width: fit-content;
                    }
                }
            }
        }

        &::before{
            content: '';
            height: 100%;
            width: 51px;
            display: inline-block;
            background-color: var(--green);
        }
    }
}