#contact {
    display: flex;
    flex-direction: column;
    gap: 46px;
    margin-bottom: 168px;

    & .container {
        h1 {
            margin-bottom: 96px;
        }

        &>img {
            margin-top: 46px;
        }
    }

    & .contact-container {
        display: flex;


        @media (max-width: 768px) {
            flex-direction: column;
            gap: 30px;
        }

        & .contact-info {
            background: var(--gray5);
            padding: 40px 48px;
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 32px;

            & .info-item {
                display: flex;
                justify-content: space-between;
                border-bottom: 1px solid var(--gray6);
                padding-bottom: 16px;


                @media (max-width: 768px) {
                    flex-direction: column;
                    gap: 30px;
                }


                & P {
                    font-size: 16px;
                    font-weight: 400;
                }

                & h4 {
                    font-size: 16px;
                    max-width: 443px;
                }
            }
        }
    }

    & .contact-items {
        display: flex;
        flex-direction: column;
        gap: 40px;
        width: 100%;

        & .contact-item {
            display: flex;
            width: fit-content;
            gap: 30px;

            & p {
                font-size: 14px;
            }

            & h3 {
                font-size: 20px;
                font-weight: 600;
            }
        }
    }

}